body{
    background-image: url("fundo.jfif")
}

#jogo-div{
    display: flex;
    justify-content: center;
    width:705px;
    height: 500px;
    padding: 0px;
    margin-left: 23.5%;
    margin-top:5%;
    box-shadow: 20px 30px 20px black;
}

#quadro{
    margin:7% 20% 7% 20%;
    border: solid 10px rgb(3, 66, 19);
    height:480px;
    width: 480px;
    margin: 0px;
}

#jogo-menu{
    width:200px;
    height:490px;
    text-align: center;
    border: solid 5px rgb(12, 15, 173);
    background-color: chocolate;
    float:right ;
    margin: 0px;
 
}

#resetar{
    margin:140px 0 0 0;
    width: 185px;
}

#o,#x,#umjog,#doisjog{
    margin-top:40px;
    width:95px;
}
#x,#umjog{
    margin-left:1px;
}

.placar{
    text-align: center;
    margin: 10px 30px;
    width:105px;
}

#jogo-menu *{
    border-radius: 10px;
}

#jogo-menu label{
    font-size: 18px;
    color:rgba(19, 6, 56, 0.986);
}

#dificuldade{
    margin : 40px 10px 20px 10px ;
}